<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cast a Deadly Spell!</title>

  <!-- Added link to the jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Added a link to Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/CSS/buttons.css">

</head>
<body>
	<p>You are a mighty warrior! Taking your weapon, you prepare to meet the guard in battle.</p>
  <button id="attack">Attack!</button>
<p id="demo" style="display:none">"You inflict " + damage + " points of damage!"</p>
 <script src="warrior.js"></script>

  </script>

</body>
</html>
